In [1]:
import pandas as pd

In [2]:
raw_csv_data = pd.read_csv('Absenteeism-data.csv')

In [3]:
raw_csv_data

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
5,3,23,10/07/2015,179,51,38,239.554,31,1,0,0,2
6,10,22,17/07/2015,361,52,28,239.554,27,1,1,4,8
7,20,23,24/07/2015,260,50,36,239.554,23,1,4,0,4
8,14,19,06/07/2015,155,12,34,239.554,25,1,2,0,40
9,1,22,13/07/2015,235,11,37,239.554,29,3,1,1,8
10,20,1,20/07/2015,260,50,36,239.554,23,1,4,0,8
11,20,1,14/07/2015,260,50,36,239.554,23,1,4,0,8
12,20,11,15/07/2015,260,50,36,239.554,23,1,4,0,8
13,3,11,15/07/2015,179,51,38,239.554,31,1,0,0,1
14,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,4
15,24,14,17/07/2015,246,25,41,239.554,23,1,0,0,8
16,3,23,17/07/2015,179,51,38,239.554,31,1,0,0,2
17,3,21,27/07/2015,179,51,38,239.554,31,1,0,0,8
18,6,11,30/07/2015,189,29,33,239.554,25,1,2,2,8
19,33,23,05/08/2015,248,25,47,205.917,32,1,2,1,2
20,18,10,12/08/2015,330,16,28,205.917,25,2,0,0,8
21,3,11,03/08/2015,179,51,38,205.917,31,1,0,0,1
22,10,13,10/08/2015,361,52,28,205.917,27,1,1,4,40
23,20,28,14/08/2015,260,50,36,205.917,23,1,4,0,4
24,11,18,17/08/2015,289,36,33,205.917,30,1,2,1,8
25,10,25,24/08/2015,361,52,28,205.917,27,1,1,4,7
26,11,23,04/08/2015,289,36,33,205.917,30,1,2,1,1
27,30,28,12/08/2015,157,27,29,205.917,22,1,0,0,4
28,11,18,19/08/2015,289,36,33,205.917,30,1,2,1,8
29,3,23,28/08/2015,179,51,38,205.917,31,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...
670,14,28,24/04/2018,155,12,34,246.288,25,1,2,0,4
671,28,19,26/04/2018,225,26,28,246.288,24,1,1,2,8
672,36,14,26/04/2018,118,13,50,246.288,31,1,1,0,2
673,22,27,27/04/2018,179,26,30,246.288,19,3,0,0,2
674,1,22,07/05/2018,235,11,37,237.656,29,3,1,1,8
675,29,19,09/05/2018,225,15,41,237.656,28,4,2,2,3
676,25,28,09/05/2018,235,16,32,237.656,25,3,0,0,2
677,34,8,09/05/2018,118,10,37,237.656,28,1,0,0,3
678,5,26,09/05/2018,235,20,43,237.656,38,1,1,0,8
679,22,13,10/05/2018,179,26,30,237.656,19,3,0,0,1
680,15,28,10/05/2018,291,31,40,237.656,25,1,1,1,2
681,29,14,10/05/2018,225,15,41,237.656,28,4,2,2,8
682,26,19,11/05/2018,300,26,43,237.656,25,1,2,1,64
683,29,22,11/05/2018,225,15,41,237.656,28,4,2,2,8
684,22,27,11/05/2018,179,26,30,237.656,19,3,0,0,2
685,36,23,14/05/2018,118,13,50,237.656,31,1,1,0,2
686,36,5,15/05/2018,118,13,50,237.656,31,1,1,0,3
687,34,28,15/05/2018,118,10,37,237.656,28,1,0,0,1
688,36,0,15/05/2018,118,13,50,237.656,31,1,1,0,0
689,22,27,16/05/2018,179,26,30,237.656,19,3,0,0,2
690,23,0,16/05/2018,378,49,36,237.656,21,1,2,4,0
691,17,16,18/05/2018,179,22,40,237.656,22,2,2,0,1
692,14,10,21/05/2018,155,12,34,237.656,25,1,2,0,48
693,25,10,21/05/2018,235,16,32,237.656,25,3,0,0,8
694,15,22,23/05/2018,291,31,40,237.656,25,1,1,1,8
695,17,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,28,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,18,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,25,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,15,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

**Always** make a copy of your initial dataset when you begin.

In [4]:
df = raw_csv_data.copy()

In [5]:
df

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
5,3,23,10/07/2015,179,51,38,239.554,31,1,0,0,2
6,10,22,17/07/2015,361,52,28,239.554,27,1,1,4,8
7,20,23,24/07/2015,260,50,36,239.554,23,1,4,0,4
8,14,19,06/07/2015,155,12,34,239.554,25,1,2,0,40
9,1,22,13/07/2015,235,11,37,239.554,29,3,1,1,8
10,20,1,20/07/2015,260,50,36,239.554,23,1,4,0,8
11,20,1,14/07/2015,260,50,36,239.554,23,1,4,0,8
12,20,11,15/07/2015,260,50,36,239.554,23,1,4,0,8
13,3,11,15/07/2015,179,51,38,239.554,31,1,0,0,1
14,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,4
15,24,14,17/07/2015,246,25,41,239.554,23,1,0,0,8
16,3,23,17/07/2015,179,51,38,239.554,31,1,0,0,2
17,3,21,27/07/2015,179,51,38,239.554,31,1,0,0,8
18,6,11,30/07/2015,189,29,33,239.554,25,1,2,2,8
19,33,23,05/08/2015,248,25,47,205.917,32,1,2,1,2
20,18,10,12/08/2015,330,16,28,205.917,25,2,0,0,8
21,3,11,03/08/2015,179,51,38,205.917,31,1,0,0,1
22,10,13,10/08/2015,361,52,28,205.917,27,1,1,4,40
23,20,28,14/08/2015,260,50,36,205.917,23,1,4,0,4
24,11,18,17/08/2015,289,36,33,205.917,30,1,2,1,8
25,10,25,24/08/2015,361,52,28,205.917,27,1,1,4,7
26,11,23,04/08/2015,289,36,33,205.917,30,1,2,1,1
27,30,28,12/08/2015,157,27,29,205.917,22,1,0,0,4
28,11,18,19/08/2015,289,36,33,205.917,30,1,2,1,8
29,3,23,28/08/2015,179,51,38,205.917,31,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...
670,14,28,24/04/2018,155,12,34,246.288,25,1,2,0,4
671,28,19,26/04/2018,225,26,28,246.288,24,1,1,2,8
672,36,14,26/04/2018,118,13,50,246.288,31,1,1,0,2
673,22,27,27/04/2018,179,26,30,246.288,19,3,0,0,2
674,1,22,07/05/2018,235,11,37,237.656,29,3,1,1,8
675,29,19,09/05/2018,225,15,41,237.656,28,4,2,2,3
676,25,28,09/05/2018,235,16,32,237.656,25,3,0,0,2
677,34,8,09/05/2018,118,10,37,237.656,28,1,0,0,3
678,5,26,09/05/2018,235,20,43,237.656,38,1,1,0,8
679,22,13,10/05/2018,179,26,30,237.656,19,3,0,0,1
680,15,28,10/05/2018,291,31,40,237.656,25,1,1,1,2
681,29,14,10/05/2018,225,15,41,237.656,28,4,2,2,8
682,26,19,11/05/2018,300,26,43,237.656,25,1,2,1,64
683,29,22,11/05/2018,225,15,41,237.656,28,4,2,2,8
684,22,27,11/05/2018,179,26,30,237.656,19,3,0,0,2
685,36,23,14/05/2018,118,13,50,237.656,31,1,1,0,2
686,36,5,15/05/2018,118,13,50,237.656,31,1,1,0,3
687,34,28,15/05/2018,118,10,37,237.656,28,1,0,0,1
688,36,0,15/05/2018,118,13,50,237.656,31,1,1,0,0
689,22,27,16/05/2018,179,26,30,237.656,19,3,0,0,2
690,23,0,16/05/2018,378,49,36,237.656,21,1,2,4,0
691,17,16,18/05/2018,179,22,40,237.656,22,2,2,0,1
692,14,10,21/05/2018,155,12,34,237.656,25,1,2,0,48
693,25,10,21/05/2018,235,16,32,237.656,25,3,0,0,8
694,15,22,23/05/2018,291,31,40,237.656,25,1,1,1,8
695,17,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,28,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,18,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,25,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,15,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

**Absenteeism in hours will be our DEPENDENT variable. All other cols rep. Independent variables.**

# Removing Irrelevant Data

## Drop 'ID':

In [6]:
df.drop(['ID'], axis = 1) # axis = 1 means that we want to remove a column along the horizontal axis

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
5,23,10/07/2015,179,51,38,239.554,31,1,0,0,2
6,22,17/07/2015,361,52,28,239.554,27,1,1,4,8
7,23,24/07/2015,260,50,36,239.554,23,1,4,0,4
8,19,06/07/2015,155,12,34,239.554,25,1,2,0,40
9,22,13/07/2015,235,11,37,239.554,29,3,1,1,8
10,1,20/07/2015,260,50,36,239.554,23,1,4,0,8
11,1,14/07/2015,260,50,36,239.554,23,1,4,0,8
12,11,15/07/2015,260,50,36,239.554,23,1,4,0,8
13,11,15/07/2015,179,51,38,239.554,31,1,0,0,1
14,23,15/07/2015,179,51,38,239.554,31,1,0,0,4
15,14,17/07/2015,246,25,41,239.554,23,1,0,0,8
16,23,17/07/2015,179,51,38,239.554,31,1,0,0,2
17,21,27/07/2015,179,51,38,239.554,31,1,0,0,8
18,11,30/07/2015,189,29,33,239.554,25,1,2,2,8
19,23,05/08/2015,248,25,47,205.917,32,1,2,1,2
20,10,12/08/2015,330,16,28,205.917,25,2,0,0,8
21,11,03/08/2015,179,51,38,205.917,31,1,0,0,1
22,13,10/08/2015,361,52,28,205.917,27,1,1,4,40
23,28,14/08/2015,260,50,36,205.917,23,1,4,0,4
24,18,17/08/2015,289,36,33,205.917,30,1,2,1,8
25,25,24/08/2015,361,52,28,205.917,27,1,1,4,7
26,23,04/08/2015,289,36,33,205.917,30,1,2,1,1
27,28,12/08/2015,157,27,29,205.917,22,1,0,0,4
28,18,19/08/2015,289,36,33,205.917,30,1,2,1,8
29,23,28/08/2015,179,51,38,205.917,31,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...
670,28,24/04/2018,155,12,34,246.288,25,1,2,0,4
671,19,26/04/2018,225,26,28,246.288,24,1,1,2,8
672,14,26/04/2018,118,13,50,246.288,31,1,1,0,2
673,27,27/04/2018,179,26,30,246.288,19,3,0,0,2
674,22,07/05/2018,235,11,37,237.656,29,3,1,1,8
675,19,09/05/2018,225,15,41,237.656,28,4,2,2,3
676,28,09/05/2018,235,16,32,237.656,25,3,0,0,2
677,8,09/05/2018,118,10,37,237.656,28,1,0,0,3
678,26,09/05/2018,235,20,43,237.656,38,1,1,0,8
679,13,10/05/2018,179,26,30,237.656,19,3,0,0,1
680,28,10/05/2018,291,31,40,237.656,25,1,1,1,2
681,14,10/05/2018,225,15,41,237.656,28,4,2,2,8
682,19,11/05/2018,300,26,43,237.656,25,1,2,1,64
683,22,11/05/2018,225,15,41,237.656,28,4,2,2,8
684,27,11/05/2018,179,26,30,237.656,19,3,0,0,2
685,23,14/05/2018,118,13,50,237.656,31,1,1,0,2
686,5,15/05/2018,118,13,50,237.656,31,1,1,0,3
687,28,15/05/2018,118,10,37,237.656,28,1,0,0,1
688,0,15/05/2018,118,13,50,237.656,31,1,1,0,0
689,27,16/05/2018,179,26,30,237.656,19,3,0,0,2
690,0,16/05/2018,378,49,36,237.656,21,1,2,4,0
691,16,18/05/2018,179,22,40,237.656,22,2,2,0,1
692,10,21/05/2018,155,12,34,237.656,25,1,2,0,48
693,10,21/05/2018,235,16,32,237.656,25,3,0,0,8
694,22,23/05/2018,291,31,40,237.656,25,1,1,1,8
695,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [7]:
df = df.drop(['ID'], axis = 1) # axis = 1 means that we want to remove a column along the horizontal axis

In [8]:
df

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
5,23,10/07/2015,179,51,38,239.554,31,1,0,0,2
6,22,17/07/2015,361,52,28,239.554,27,1,1,4,8
7,23,24/07/2015,260,50,36,239.554,23,1,4,0,4
8,19,06/07/2015,155,12,34,239.554,25,1,2,0,40
9,22,13/07/2015,235,11,37,239.554,29,3,1,1,8
10,1,20/07/2015,260,50,36,239.554,23,1,4,0,8
11,1,14/07/2015,260,50,36,239.554,23,1,4,0,8
12,11,15/07/2015,260,50,36,239.554,23,1,4,0,8
13,11,15/07/2015,179,51,38,239.554,31,1,0,0,1
14,23,15/07/2015,179,51,38,239.554,31,1,0,0,4
15,14,17/07/2015,246,25,41,239.554,23,1,0,0,8
16,23,17/07/2015,179,51,38,239.554,31,1,0,0,2
17,21,27/07/2015,179,51,38,239.554,31,1,0,0,8
18,11,30/07/2015,189,29,33,239.554,25,1,2,2,8
19,23,05/08/2015,248,25,47,205.917,32,1,2,1,2
20,10,12/08/2015,330,16,28,205.917,25,2,0,0,8
21,11,03/08/2015,179,51,38,205.917,31,1,0,0,1
22,13,10/08/2015,361,52,28,205.917,27,1,1,4,40
23,28,14/08/2015,260,50,36,205.917,23,1,4,0,4
24,18,17/08/2015,289,36,33,205.917,30,1,2,1,8
25,25,24/08/2015,361,52,28,205.917,27,1,1,4,7
26,23,04/08/2015,289,36,33,205.917,30,1,2,1,1
27,28,12/08/2015,157,27,29,205.917,22,1,0,0,4
28,18,19/08/2015,289,36,33,205.917,30,1,2,1,8
29,23,28/08/2015,179,51,38,205.917,31,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...
670,28,24/04/2018,155,12,34,246.288,25,1,2,0,4
671,19,26/04/2018,225,26,28,246.288,24,1,1,2,8
672,14,26/04/2018,118,13,50,246.288,31,1,1,0,2
673,27,27/04/2018,179,26,30,246.288,19,3,0,0,2
674,22,07/05/2018,235,11,37,237.656,29,3,1,1,8
675,19,09/05/2018,225,15,41,237.656,28,4,2,2,3
676,28,09/05/2018,235,16,32,237.656,25,3,0,0,2
677,8,09/05/2018,118,10,37,237.656,28,1,0,0,3
678,26,09/05/2018,235,20,43,237.656,38,1,1,0,8
679,13,10/05/2018,179,26,30,237.656,19,3,0,0,1
680,28,10/05/2018,291,31,40,237.656,25,1,1,1,2
681,14,10/05/2018,225,15,41,237.656,28,4,2,2,8
682,19,11/05/2018,300,26,43,237.656,25,1,2,1,64
683,22,11/05/2018,225,15,41,237.656,28,4,2,2,8
684,27,11/05/2018,179,26,30,237.656,19,3,0,0,2
685,23,14/05/2018,118,13,50,237.656,31,1,1,0,2
686,5,15/05/2018,118,13,50,237.656,31,1,1,0,3
687,28,15/05/2018,118,10,37,237.656,28,1,0,0,1
688,0,15/05/2018,118,13,50,237.656,31,1,1,0,0
689,27,16/05/2018,179,26,30,237.656,19,3,0,0,2
690,0,16/05/2018,378,49,36,237.656,21,1,2,4,0
691,16,18/05/2018,179,22,40,237.656,22,2,2,0,1
692,10,21/05/2018,155,12,34,237.656,25,1,2,0,48
693,10,21/05/2018,235,16,32,237.656,25,3,0,0,8
694,22,23/05/2018,291,31,40,237.656,25,1,1,1,8
695,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

Forgetting to make a copy of your data can be bad.

## Exercise: Drop 'Age'

In [9]:
df

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
5,23,10/07/2015,179,51,38,239.554,31,1,0,0,2
6,22,17/07/2015,361,52,28,239.554,27,1,1,4,8
7,23,24/07/2015,260,50,36,239.554,23,1,4,0,4
8,19,06/07/2015,155,12,34,239.554,25,1,2,0,40
9,22,13/07/2015,235,11,37,239.554,29,3,1,1,8
10,1,20/07/2015,260,50,36,239.554,23,1,4,0,8
11,1,14/07/2015,260,50,36,239.554,23,1,4,0,8
12,11,15/07/2015,260,50,36,239.554,23,1,4,0,8
13,11,15/07/2015,179,51,38,239.554,31,1,0,0,1
14,23,15/07/2015,179,51,38,239.554,31,1,0,0,4
15,14,17/07/2015,246,25,41,239.554,23,1,0,0,8
16,23,17/07/2015,179,51,38,239.554,31,1,0,0,2
17,21,27/07/2015,179,51,38,239.554,31,1,0,0,8
18,11,30/07/2015,189,29,33,239.554,25,1,2,2,8
19,23,05/08/2015,248,25,47,205.917,32,1,2,1,2
20,10,12/08/2015,330,16,28,205.917,25,2,0,0,8
21,11,03/08/2015,179,51,38,205.917,31,1,0,0,1
22,13,10/08/2015,361,52,28,205.917,27,1,1,4,40
23,28,14/08/2015,260,50,36,205.917,23,1,4,0,4
24,18,17/08/2015,289,36,33,205.917,30,1,2,1,8
25,25,24/08/2015,361,52,28,205.917,27,1,1,4,7
26,23,04/08/2015,289,36,33,205.917,30,1,2,1,1
27,28,12/08/2015,157,27,29,205.917,22,1,0,0,4
28,18,19/08/2015,289,36,33,205.917,30,1,2,1,8
29,23,28/08/2015,179,51,38,205.917,31,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...
670,28,24/04/2018,155,12,34,246.288,25,1,2,0,4
671,19,26/04/2018,225,26,28,246.288,24,1,1,2,8
672,14,26/04/2018,118,13,50,246.288,31,1,1,0,2
673,27,27/04/2018,179,26,30,246.288,19,3,0,0,2
674,22,07/05/2018,235,11,37,237.656,29,3,1,1,8
675,19,09/05/2018,225,15,41,237.656,28,4,2,2,3
676,28,09/05/2018,235,16,32,237.656,25,3,0,0,2
677,8,09/05/2018,118,10,37,237.656,28,1,0,0,3
678,26,09/05/2018,235,20,43,237.656,38,1,1,0,8
679,13,10/05/2018,179,26,30,237.656,19,3,0,0,1
680,28,10/05/2018,291,31,40,237.656,25,1,1,1,2
681,14,10/05/2018,225,15,41,237.656,28,4,2,2,8
682,19,11/05/2018,300,26,43,237.656,25,1,2,1,64
683,22,11/05/2018,225,15,41,237.656,28,4,2,2,8
684,27,11/05/2018,179,26,30,237.656,19,3,0,0,2
685,23,14/05/2018,118,13,50,237.656,31,1,1,0,2
686,5,15/05/2018,118,13,50,237.656,31,1,1,0,3
687,28,15/05/2018,118,10,37,237.656,28,1,0,0,1
688,0,15/05/2018,118,13,50,237.656,31,1,1,0,0
689,27,16/05/2018,179,26,30,237.656,19,3,0,0,2
690,0,16/05/2018,378,49,36,237.656,21,1,2,4,0
691,16,18/05/2018,179,22,40,237.656,22,2,2,0,1
692,10,21/05/2018,155,12,34,237.656,25,1,2,0,48
693,10,21/05/2018,235,16,32,237.656,25,3,0,0,8
694,22,23/05/2018,291,31,40,237.656,25,1,1,1,8
695,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [11]:
dfNoAge = df.drop(['Age'], axis = 1)

In [12]:
dfNoAge

,Reason for Absence,Date,Transportation Expense,Distance to Work,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,26,07/07/2015,289,36,239.554,30,1,2,1,4
1,0,14/07/2015,118,13,239.554,31,1,1,0,0
2,23,15/07/2015,179,51,239.554,31,1,0,0,2
3,7,16/07/2015,279,5,239.554,24,1,2,0,4
4,23,23/07/2015,289,36,239.554,30,1,2,1,2
5,23,10/07/2015,179,51,239.554,31,1,0,0,2
6,22,17/07/2015,361,52,239.554,27,1,1,4,8
7,23,24/07/2015,260,50,239.554,23,1,4,0,4
8,19,06/07/2015,155,12,239.554,25,1,2,0,40
9,22,13/07/2015,235,11,239.554,29,3,1,1,8
10,1,20/07/2015,260,50,239.554,23,1,4,0,8
11,1,14/07/2015,260,50,239.554,23,1,4,0,8
12,11,15/07/2015,260,50,239.554,23,1,4,0,8
13,11,15/07/2015,179,51,239.554,31,1,0,0,1
14,23,15/07/2015,179,51,239.554,31,1,0,0,4
15,14,17/07/2015,246,25,239.554,23,1,0,0,8
16,23,17/07/2015,179,51,239.554,31,1,0,0,2
17,21,27/07/2015,179,51,239.554,31,1,0,0,8
18,11,30/07/2015,189,29,239.554,25,1,2,2,8
19,23,05/08/2015,248,25,205.917,32,1,2,1,2
20,10,12/08/2015,330,16,205.917,25,2,0,0,8
21,11,03/08/2015,179,51,205.917,31,1,0,0,1
22,13,10/08/2015,361,52,205.917,27,1,1,4,40
23,28,14/08/2015,260,50,205.917,23,1,4,0,4
24,18,17/08/2015,289,36,205.917,30,1,2,1,8
25,25,24/08/2015,361,52,205.917,27,1,1,4,7
26,23,04/08/2015,289,36,205.917,30,1,2,1,1
27,28,12/08/2015,157,27,205.917,22,1,0,0,4
28,18,19/08/2015,289,36,205.917,30,1,2,1,8
29,23,28/08/2015,179,51,205.917,31,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...
670,28,24/04/2018,155,12,246.288,25,1,2,0,4
671,19,26/04/2018,225,26,246.288,24,1,1,2,8
672,14,26/04/2018,118,13,246.288,31,1,1,0,2
673,27,27/04/2018,179,26,246.288,19,3,0,0,2
674,22,07/05/2018,235,11,237.656,29,3,1,1,8
675,19,09/05/2018,225,15,237.656,28,4,2,2,3
676,28,09/05/2018,235,16,237.656,25,3,0,0,2
677,8,09/05/2018,118,10,237.656,28,1,0,0,3
678,26,09/05/2018,235,20,237.656,38,1,1,0,8
679,13,10/05/2018,179,26,237.656,19,3,0,0,1
680,28,10/05/2018,291,31,237.656,25,1,1,1,2
681,14,10/05/2018,225,15,237.656,28,4,2,2,8
682,19,11/05/2018,300,26,237.656,25,1,2,1,64
683,22,11/05/2018,225,15,237.656,28,4,2,2,8
684,27,11/05/2018,179,26,237.656,19,3,0,0,2
685,23,14/05/2018,118,13,237.656,31,1,1,0,2
686,5,15/05/2018,118,13,237.656,31,1,1,0,3
687,28,15/05/2018,118,10,237.656,28,1,0,0,1
688,0,15/05/2018,118,13,237.656,31,1,1,0,0
689,27,16/05/2018,179,26,237.656,19,3,0,0,2
690,0,16/05/2018,378,49,237.656,21,1,2,4,0
691,16,18/05/2018,179,22,237.656,22,2,2,0,1
692,10,21/05/2018,155,12,237.656,25,1,2,0,48
693,10,21/05/2018,235,16,237.656,25,3,0,0,8
694,22,23/05/2018,291,31,237.656,25,1,1,1,8
695,10,23/05/2018,179,22,237.656,22,2,2,0,8
696,6,23/05/2018,225,26,237.656,24,1,1,2,3
697,10,24/05/2018,330,16,237.656,25,2,0,0,8
698,23,24/05/2018,235,16,237.656,25,3,0,0,2
699,28,31/05/2018,291,31,237.656,25,1,1,1,2

## Determining Reasons For Absence

In [13]:
df['Reason for Absence']

0      26
1       0
2      23
3       7
4      23
5      23
6      22
7      23
8      19
9      22
10      1
11      1
12     11
13     11
14     23
15     14
16     23
17     21
18     11
19     23
20     10
21     11
22     13
23     28
24     18
25     25
26     23
27     28
28     18
29     23
       ..
670    28
671    19
672    14
673    27
674    22
675    19
676    28
677     8
678    26
679    13
680    28
681    14
682    19
683    22
684    27
685    23
686     5
687    28
688     0
689    27
690     0
691    16
692    10
693    10
694    22
695    10
696     6
697    10
698    23
699    28
Name: Reason for Absence, Length: 700, dtype: int64